@use "../abstract/variables";
@use "../abstract/mixins";

header {
  background: variables.$gradiente-primario;
  padding: 2rem;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    .linha {
      border-top: 1px solid black;
      width: 80%;
    }
    ul {
      display: inline-flex;
      gap: 2rem;
      li {
        list-style-type: none;
      }
      a {
        text-decoration: none;
        @include mixins.ff-fs-cl(
          variables.$ft-textos,
          1rem,
          variables.$cor-primaria
        );
        font-weight: 500;
        transition: 0.3s;
        &:hover {
          transform: scale(1.2);
          font-weight: 700;
        }
      }
    }
  }
  #home {
    max-width: 1040px;
    @include mixins.margin-central(80%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .textos-home {
      width: 464px;
      h1 {
        font-size: 42px;
        color: variables.$cor-primaria;
        margin-bottom: 2rem;
        font-family: variables.$ft-titulos;
        span {
          color: variables.$cor-secundaria;
        }
      }
      .btn-main {
        width: 280px;
        height: 66px;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 66px;
        background: variables.$cor-default;
        font-size: 1.3rem;
        transition: 0.3s;
        &:hover {
          background-color: variables.$cor-secundaria;
        }
      }
    }
    .img-home {
      max-width: 474px;
      img {
        width: 100%;
      }
    }
  }
}
